@import "tailwindcss";

@theme {
  --color-primary-light: #f0f0f0;
  --color-primary-dark: #0e0f4a;
  --color-secondary: #761875;
  --color-background: #0a1530;
  --color-purple-1: #972395;
  --color-purple-2: #c035bd;
  --color-card-1: #0e0f4a;
  --color-card-2: #022096;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Stato iniziale */
.before-animate {
  opacity: 0;
  transform: translateY(-20px);
}

/* Stato animato */
.animate {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease;
}

code, a {
  word-break: break-all;
}