@import "tailwindcss";

@theme {
  --color-primary-light: #b7b8b8;
  --color-primary-dark: #472761;
  --color-secondary: #761875;
  --color-background: #0a1530;
  --color-purple-1: #972395;
  --color-purple-2: #641562;
  --color-card-1: #9a1635;
  --color-card-2: #4d0a1a;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}